# Ignore dev dependencies
node_modules/**

# Ignore source code, we only need the compiled output
src/**

# Ignore config and dev-related folders/files
.vscode/**
tsconfig.json
webpack.config.js
.eslintrc.js
.eslintignore
.gitignore

# Ignore build artifacts and source maps
*.vsix
**/*.map
